In [1]:
from urllib.request import urlretrieve
import pandas as pd
import numpy as np

In [2]:
# URL is not valid anymore
urlretrieve('https://www.cba.am/IMRM/YC/YC.xlsx', 'capstone_data')
data = pd.read_excel('capstone_data', skiprows=[0,2,3,4])
data = data.iloc[:,10:15]
data.dropna(axis=0, how='all', inplace=True)
data.dropna(axis=1, how='all', inplace=True)
data.columns = ['ISIN','Coupon Rate (%)','Maturity Date','Dirty Price', 'Yield to Maturity (%)']

In [3]:
data.insert(5, "Coupon Frequency", 2)
data.insert(6, "Principal Value", 100)

In [4]:
dateSelect = "2023-05-02"
data['Settlement Date'] = dateSelect

In [5]:
data.loc[0:20,'Convention'] = 'ACT/ACT'
data.loc[21:32,'Convention'] = 'ACT/360'
data.loc[33:35,'Convention'] = '30/360'
data.loc[36:,'Convention'] = 'ACT/ACT'

In [6]:
df=data.drop(data.index[21:33])
df=df.drop(data.index[33:35])
df=df.drop(data.index[43:46])
df = df.drop(41)

In [7]:
df.index = np.arange(1, len(df) + 1)
df

,ISIN,Coupon Rate (%),Maturity Date,Dirty Price,Yield to Maturity (%),Coupon Frequency,Principal Value,Settlement Date,Convention
1,AMGB1029A235,10.00,2023-10-29,99.430886,11.3292,2,100,2023-05-02,ACT/ACT
2,AMGB1029A250,11.00,2025-10-29,99.056479,11.4876,2,100,2023-05-02,ACT/ACT
3,AMGB2029A366,13.00,2036-10-29,110.550051,11.4605,2,100,2023-05-02,ACT/ACT
4,AMGB2029A374,12.50,2037-10-29,107.368164,11.4602,2,100,2023-05-02,ACT/ACT
5,AMGB1029A276,10.00,2027-10-29,95.026430,11.4709,2,100,2023-05-02,ACT/ACT
6,AMGB20172327,13.00,2032-02-17,110.994141,11.4626,2,100,2023-05-02,ACT/ACT
7,AMGB20072287,11.00,2028-02-07,100.823982,11.4701,2,100,2023-05-02,ACT/ACT
8,AMGB30163472,13.00,2047-03-16,114.138759,11.4584,2,100,2023-05-02,ACT/ACT
9,AMGN36294269,9.00,2026-04-29,93.932358,11.4825,2,100,2023-05-02,ACT/ACT
10,AMGN60294284,9.25,2028-04-29,91.812755,11.4694,2,100,2023-05-02,ACT/ACT
11,AMGN60294250,7.00,2025-04-29,92.255199,11.4927,2,100,2023-05-02,ACT/ACT
12,AMGN36294244,6.50,2024-04-29,95.486301,11.5018,2,100,2023-05-02,ACT/ACT
13,AMGN60294268,7.00,2026-04-29,88.970264,11.4825,2,100,2023-05-02,ACT/ACT
14,AMGN60294243,8.00,2024-04-29,96.867426,11.5018,2,100,2023-05-02,ACT/ACT
15,AMGB1029A292,9.00,2029-10-29,88.995324,11.4656,2,100,2023-05-02,ACT/ACT
16,AMGB3129A504,9.75,2050-10-29,85.869370,11.4578,2,100,2023-05-02,ACT/ACT
17,AMGB1129A316,8.00,2031-10-29,81.578031,11.4629,2,100,2023-05-02,ACT/ACT
18,AMGN36294251,9.25,2025-04-29,96.179784,11.4927,2,100,2023-05-02,ACT/ACT
19,AMGN60294276,9.40,2027-04-29,93.583221,11.4724,2,100,2023-05-02,ACT/ACT
20,AMGB3029A522,9.75,2052-10-29,85.733115,11.4574,2,100,2023-05-02,ACT/ACT
21,AMGB1129A332,9.60,2033-10-29,88.880512,11.4613,2,100,2023-05-02,ACT/ACT
22,AMNMCCB2KER6,7.25,2023-05-15,103.228297,10.9710,2,100,2023-05-02,30/360
23,AMNMCCB2LER4,8.50,2024-03-04,98.805050,11.7536,2,100,2023-05-02,ACT/ACT
24,AMNMCCB2MER2,10.00,2025-04-15,97.486592,11.7430,2,100,2023-05-02,ACT/ACT
25,AMNMCCB2NER0,12.00,2025-12-06,105.394813,11.7365,2,100,2023-05-02,ACT/ACT
26,AMAINFB23KR4,8.00,2024-09-16,93.162488,14.4983,2,100,2023-05-02,ACT/ACT
27,AMAINFB25KR9,8.00,2025-01-22,92.571320,14.4951,2,100,2023-05-02,ACT/ACT
28,AMGGAHB27KR9,10.50,2026-10-22,89.712401,14.4776,2,100,2023-05-02,ACT/ACT

In [ ]:
def save(data, filename):
    """ Save cleaned data in csv format
    
    Parameters: 
        data (pd.Dataframe): contains data about bonds.
        filename (str): Name of the file with data.
    
    Returns:
        None
    """
    
    # Save the data
    data.to_csv(filename, index=False)

In [ ]:
save(df, 'cleaned_data')